
@import "general.scss"; 
$instagram-color:#8000FF;
$telefono-color:rgb(255, 255, 255);
$whatsapp:#079e11;
$linkedin:rgb(0, 4, 255);
$contactos: (
    "instagram": $instagram-color,
    "whatsapp": $whatsapp,
    "linkedin": $linkedin
);
body{
    background-image: linear-gradient(
        to bottom right,
        #0040ff 0%,
        #587ff7 20%,
        #97aff7 40%,
        #b2c4fa 60%,
        #91aaf3 80%,
        #e5e9f7 1000%,

    );
    background-size: 200% 200%;
    animation: movimiento 5s linear infinite alternate;
}
@keyframes movimiento {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}
h1{
    text-align: center;
}
body{
    --bs-body-bg:#91aaf3;
}
.collapse{
    font-size: 20px;
}
nav .nav-item a:hover{
    text-decoration: underline;
    background-color: $telefono-color;
}
@each $name-color,$bg-color in $contactos{
    #contactos .#{$name-color}{
        color:$bg-color;
    }
} 
#contactos{
    ul{
        display: flex;
        li{
            list-style: none;
            margin: 1.2vw;
            font-size: 3vw;
            transition: .5s;
            a{
                width: 5vw;
                padding: 2.5vw 0;
                display: block;
            }
            :hover{
                transform: translateY(-0.3vw);
                box-shadow: 0 1.5vw 1.5vw rgba(0, 0, 0,0.1);
            }
            
        }
    }
}
@mixin text_properties($align, $fontsize){
    text-align: $align;
    font-size: $fontsize;
}
.titulo{
    @include text_properties(center,35); 
}
.titulo-rutinas{
    @include text_properties(none,35);
}
.subtitulo{
    @include text_properties(center,25); 
}
.subtitulo-rutinas{
    @include text_properties(none,25);
}
.musculo{
    p{
        @include text_properties(none,medium);
    }
}
.main{
    p{
        @include text_properties(none,20);
    }  
} 
@mixin image_properties($width, $height, $border){
    width: $width;
    height: $height;
    border-radius: $border;
}
.press{
    @include image_properties(500px,300px ,none);
    align-content: center;

}
.logos_cont{
    @include image_properties(50px, 50px ,none);
}
.loguito{
    @include image_properties(55px, 55px ,35px);
}
.color{
    background-color: #91aaf3;
}
@media only screen and (min-width: 561px){
    #contactos{
        ul{
            display: flex;
            text-align: center;
            li{
                list-style: none;
                margin: 30px;
                font-size: 50px;
                transition: .5s;
                a{
                    width: 50px;
                    padding: 50px 0;
                    display: block;
                }
                :hover{
                    transform: translateY(-0.8vw);
                    box-shadow: 0 1.5vw 1.5vw rgba(0, 0, 0,0.1);
                }
                
            }
        }
    }
}
@media only screen and (min-width: 361px) and (max-width: 560px){
    body{
        .press{
            width: 330px;
            height: 210px;
            padding: 20px;
        }
    }
    #contactos{
        ul{
            display: flex;
            text-align: center;
            li{
                list-style: none;
                margin: 5vw;
                font-size: 9vw;
                transition: .5s;
                a{
                    width: 5vw;
                    padding: 2.5vw 0;
                    display: block;
                }
                :hover{
                    transform: translateY(-0.8vw);
                    box-shadow: 0 1.5vw 1.5vw rgba(0, 0, 0,0.1);
                }
                
            }
        }
    }
}
@media only screen and (max-width: 360px){
    body{
        .press{
            width: 250px;
            height: 165px;
            padding: 20px;
        }
    }
    #contactos{
        ul{
            display: flex;
            text-align: center;
            li{
                list-style: none;
                margin: 5vw;
                font-size: 9vw;
                transition: .5s;
                a{
                    width: 5vw;
                    padding: 2.5vw 0;
                    display: block;
                }
                :hover{
                    transform: translateY(-0.8vw);
                    box-shadow: 0 1.5vw 1.5vw rgba(0, 0, 0,0.1);
                }
                
            }
        }
    }
}

