@import "general";
$instagram-color:#8000FF;
$telefono-color:#FFFFFF;
h1{
    text-align: center;
}
.collapse{
    font-size: 20px;
}
nav a:hover{
    text-decoration: underline;
    background-color: $instagram-color;
    color: $instagram-color;
}
#contacto .ig{
    a:hover{
        text-decoration: underline;
        background-color: $instagram-color;
        color: $instagram-color;
    }
}
#contacto .telefono{
    a:hover{
        text-decoration: underline;
        background-color: $instagram-color;
        color: $telefono-color;
    }
}
@mixin text_properties($align, $fontsize){
    text-align: $align;
    font-size: $fontsize;
}
.titulo{
    @include text_properties(center,35);
}
.subtitulo{
    @include text_properties(center,25);
}
.musculo{
    p{
        @include text_properties(none,medium);
    }
}
.main{
    p{
        @include text_properties(none,20);
    }  
} 
@mixin image_properties($width, $height, $border){
    width: $width;
    height: $height;
    border-radius: $border;
}
.press{
    @include image_properties(500px,300px ,none);
    align-content: center;

}
.logos_cont{
    @include image_properties(50px, 50px ,25px);
}
.loguito{
    @include image_properties(60px, 60px ,35px);
}

@media only screen and (min-width: 577px) and (max-width: 960) {
    body{
        background-color: rgb(255, 0, 0);
    }
}
@media only screen and (max-width: 576px){
    body{
        background-color: black;
    }
}

